.columnsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 2rem;
  overflow-y: auto;
  max-height: calc(100vh - 300px);
  /* box-shadow: inset -30px 0 20px 30px red; */
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.content {
  padding-left: 20px;
}

@supports (scrollbar-color: var(--scrollbar-thumb) transparent) {
  .form {
    scrollbar-color: var(--scrollbar-thumb) transparent;
  }
}
